<!DOCTYPE html>
<html>
  <head>
    <titleh>LOGING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
		<form action='/login' method='post'>
			  email:<br>
			  <input type="text" name="email" ><br>
			  Password:<br>
			  <input type="text" name="password">
			  <input type="submit" value="Submit">
		</form> 
  	<body>
</html>